body{
  background-color: #1D5D9B;
  font-family: Catamaran, sans-serif;
}

h1{
  color: #F4D160;
  text-align: center;
}

.main-logo {
  text-align: center;
}

h2{
  color: #FBEEAC;
  text-align: center;
  font-size: 3rem;
}

.container{
  border: 7px solid;
  border-radius: 50px;
  margin-bottom: 30px;
  padding: 5px;
  display: block;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 5px;
}

.img-container{
  flex-grow: 0;
  flex-shrink: 0;

}

.img-container > img{
  width: 350px;
}

.img-container > p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.pyro {
  background-color: #FFA970;
  border-color: white;
}

.pyro p {
  color: #FF6640;
}

.pyro h2 {
  color: #FF6640;
}

.hydro {
  background-color: #08E4FF;
  border-color: white;
}

.hydro p {
  color: #00C0FF;
}

.hydro h2 {
  color: #00C0FF;
}

.anemo {
  background-color: #A2EECA;
  border-color: white;
}

.anemo p {
  color: #33D7A0
}

.anemo h2 {
  color: #33D7A0
}

.electro {
  background-color: #DFBBFF;
  border-color: white;
}

.electro p {
  color: #CC80FF;
}

.electro h2 {
  color: #CC80FF;
}

.dendro {
  background-color: #AFE92A;
  border-color: white;
}

.dendro p {
  color: #9BE53D;
}

.dendro h2 {
  color: #9BE53D;
}

.cryo {
  background-color: #C9FBFB;
  border-color: white;
}

.cryo p {
  color: #7AF2F2;
}

.cryo h2 {
  color: #7AF2F2;
}

.geo {
  background-color:#F5D760;
  border-color: white;
}

.geo p {
  color: #FFB00D;
}

.geo h2 {
  color: #FFB00D;
}

.modal {
  display: none;
  position: static;
  width: 100vw;
  height: 100vh;
  background-color: #00000066;
}

.big-image {
  position: relative;

  max-width: 1600px;
  min-width: 600px;
}

.close {
  color: white;
  position: relative;
  top: 20px;
  
  font-size: 20px;
  font-weight: bold;
}
